@font-face {
    font-family: 'TT Norms Pro';
    src: local('TT Norms Pro Regular'), local('TT-Norms-Pro-Regular'),
        url('/src/fonts/TTNormsPro-Regular.woff2') format('woff2'),
        url('/src/fonts/TTNormsPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
